:root {
  --app-color-primary: theme('colors.primary');
  --app-color-danger: theme('colors.danger');
  --app-color-success: #2e7d32;
}

.dark,
[data-theme='dark'] {
  --app-color-primary: theme('colors.primary');
  --app-color-danger: theme('colors.danger');
  --app-color-success: #66bb6a;
}
