.danger {
  color: var(--danger);
}

.primary {
  color: var(--primary);
}

.c-gray-100 {
  color: var(--c-gray-100);
}

.c-blue-500 {
  color: var(--c-blue-500);
}

.bg-primary {
  background-color: var(--primary);
}
