:root {
  --danger: theme('colors.red.500');
  --primary: theme('colors.yellow.500');
  --scrollbar-size: 10px;
  --scrollbar-radius: 999px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: theme('colors.purple-gray.550');
  --scrollbar-thumb-hover: theme('colors.purple-gray.400');
  --scrollbar-thumb-active: theme('colors.purple-gray.350');
  --scrollbar-offset-right: 2px;

  /* 黄色系 */
  --c-yellow-300: theme('colors.yellow.300');
  --c-yellow-500: theme('colors.yellow.500');

  /* 红色系 */
  --c-red-500: theme('colors.red.500');

  /* 蓝色系 */
  --c-blue-500: theme('colors.blue.500');

  /* 纯灰色系 */
  --c-gray-0: theme('colors.gray.0');
  --c-gray-100: theme('colors.gray.100');
  --c-gray-700: theme('colors.gray.700');
  --c-gray-900: theme('colors.gray.900');
  --c-gray-1000: theme('colors.gray.1000');

  /* 偏蓝灰色系 */
  --c-blue-gray-300: theme('colors.blue-gray.300');
  --c-blue-gray-400: theme('colors.blue-gray.400');
  --c-blue-gray-700: theme('colors.blue-gray.700');
  --c-blue-gray-800: theme('colors.blue-gray.800');
  --c-blue-gray-900: theme('colors.blue-gray.900');
  --c-blue-gray-950: theme('colors.blue-gray.950');

  /* 偏紫灰色系 */
  --c-purple-gray-350: theme('colors.purple-gray.350');
  --c-purple-gray-400: theme('colors.purple-gray.400');
  --c-purple-gray-500: theme('colors.purple-gray.500');
  --c-purple-gray-550: theme('colors.purple-gray.550');
  --c-purple-gray-700: theme('colors.purple-gray.700');
  --c-purple-gray-800: theme('colors.purple-gray.800');
  --c-purple-gray-850: theme('colors.purple-gray.850');
  --c-purple-gray-900: theme('colors.purple-gray.900');

  /* 功能色定义 TODO: 暂未使用  */
  --c-bg-base: var(--c-blue-gray-950); /* 应用基础背景色 */
  --c-text-primary: var(--c-gray-0); /* 主要文本色 */
  --c-text-secondary: var(--c-blue-gray-400); /* 次要文本色 */
  --c-text-disabled: var(--c-purple-gray-500); /* 禁用文本色 */
  --c-border: var(--c-purple-gray-700); /* 边框颜色 */
  --c-placeholder: var(--c-blue-gray-400); /* 占位符文本色 */
  --c-icon: var(--c-purple-gray-400); /* 图标颜色 */
  --c-divider: var(--c-purple-gray-700); /* 分割线颜色 */

  --bg-active: var(--c-blue-gray-700);
}

.ion-palette-dark {
  --danger: theme('colors.dark-red.500');
  --primary: theme('colors.dark-yellow.500');
  --scrollbar-track: transparent;
  --scrollbar-thumb: theme('colors.dark-purple-gray.550');
  --scrollbar-thumb-hover: theme('colors.dark-purple-gray.400');
  --scrollbar-thumb-active: theme('colors.dark-purple-gray.350');

  /* 黄色系 */
  --c-yellow-300: theme('colors.dark-yellow.300');
  --c-yellow-500: theme('colors.dark-yellow.500');

  /* 红色系 */
  --c-red-500: theme('colors.dark-red.500');

  /* 蓝色系 */
  --c-blue-500: theme('colors.dark-blue.500');

  /* 纯灰色系 */
  --c-gray-0: theme('colors.dark-gray.0');
  --c-gray-100: theme('colors.dark-gray.100');
  --c-gray-700: theme('colors.dark-gray.700');
  --c-gray-900: theme('colors.dark-gray.900');
  --c-gray-1000: theme('colors.dark-gray.1000');

  /* 偏蓝灰色系 */
  --c-blue-gray-300: theme('colors.dark-blue-gray.300');
  --c-blue-gray-400: theme('colors.dark-blue-gray.400');
  --c-blue-gray-700: theme('colors.dark-blue-gray.700');
  --c-blue-gray-800: theme('colors.dark-blue-gray.800');
  --c-blue-gray-900: theme('colors.dark-blue-gray.900');
  --c-blue-gray-950: theme('colors.dark-blue-gray.950');

  /* 偏紫灰色系 */
  --c-purple-gray-350: theme('colors.dark-purple-gray.350');
  --c-purple-gray-400: theme('colors.dark-purple-gray.400');
  --c-purple-gray-500: theme('colors.dark-purple-gray.500');
  --c-purple-gray-550: theme('colors.dark-purple-gray.550');
  --c-purple-gray-700: theme('colors.dark-purple-gray.700');
  --c-purple-gray-800: theme('colors.dark-purple-gray.800');
  --c-purple-gray-850: theme('colors.dark-purple-gray.850');
  --c-purple-gray-900: theme('colors.dark-purple-gray.900');
}
